# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep

# Ignore database.
*.sqlite3
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore byebug command history file.
.byebug_history

# Ignore node modules
/node_modules

# Ignore yarn files
/yarn-error.log

# Ignore dotenv environment variables file
.env

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore credentials
/config/credentials.yml.enc

# Ignore Docker files (opcional, se não quiser versionar volumes)
/docker-data

# Ignore coverage reports
/coverage/

# Ignore system test files
/storage/*
!/storage/.keep

# Ignore public assets
/public/assets
/public/packs
/public/packs-test
/public/packs-dev

# Ignore vendor
/vendor/bundle